<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Screen
    body
        .screen
            .screen__top
                .screen__top__up 
                .screen__top__down 
            
            .screen__main
                .screen__main__left 
                .screen__main__right
                    .screen__main__right1  
                    .screen__main__right2  

            .screen__main__bottom
                .screen__main__bottom1 
                .screen__main__bottom2 
                .screen__main__bottom3 
                .screen__main__bottom4 
                .screen__main__bottom5 

            .screen__bottom
                .screen__bottom__bottom1 
                .screen__bottom__bottom2  
                .screen__bottom__bottom3 

            .screen__down
                .screen__down__1 
                .screen__down__2

            .screen__down__bottom
                .screen__down__bottom1 
                .screen__down__bottom2
                .screen__down__bottom3
                    .screen__down__bottom3-1 
                    .screen__down__bottom3-2 