<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Screen
    body
        .screen
            .screen__top
                .screen__top__up 
                .screen__top__down 

            .screen__main
                .screen__main__bottom bottom
                .screen__main__bottom1
                    .screen__main__bottom1-1 1-1
                        .screen__main__bottom1-2 1-2

            .screen__bottom